# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives :**
- List pouplar languages for data science  .
- Most common used libraries for data science .
- Data science tools .

Some of the popular languages that Data Scientists use are:
 1. Python
 2.  R
 3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. matplotlip
2. pandas
3. numpy

| Data Science Tools |
|---------------------|
| Jupyter Notebook    |
| RStudio             |
| Apache Zeppelin     |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [7]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
#This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author <br>
Seif Amr